.regsterInstructorContainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.registerInstructor{
    width:200px;
    height: 25px;
    border-radius: 7%;
    margin-top: 5px;
    border: 1px solid;
    margin-bottom: 10px;
}

.registerInstructorBox{
    width:200px;
    height: 29px;
    border-radius: 7%;
    margin-top: 5px;
    border: 1px solid;
    margin-bottom: 10px;
}

.registerInstructorTextArea{
    width:200px;
    height: 20px;
    border-radius: 7%;
    margin-top: 5px;
    border: 1px solid;
    margin-bottom: 10px;
}

.registerInstructorFirst{
    margin-right: 30px;
}

.registerInstructorSecond{
    margin-right: 30px;
}

.registerInstructorButton{
    width:600px;
    height: 30px;
    border-radius: 7%;
    margin-top: 15px;
    border: 1px solid;
    color: aliceblue;
    background-color: rgb(112, 39, 160);
    border-color:  rgb(112, 39, 160);
}

.registerInstructorButton:hover{
    background-color: rgb(161, 101, 201);
    border-color: rgb(161, 101, 201);
}

.instructorRegisterH1{
    width: 600px;
    margin-left: 380px;
}