.justLinks{
    background-color: rgb(112, 39, 160);
    /* height: 50px; */
    display: flex;
    align-items: center;
    padding-left: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

li {
    display: inline;
}

.links{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.links:hover {
    background-color: rgb(161, 101, 201);
}

.otherlinks{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 640px;
}

.otherlinks:hover {
    background-color: rgb(161, 101, 201);
}

.profilelinks{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 800px;
}

.profilelinks:hover {
    background-color: rgb(161, 101, 201);
}

.logoutLink{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 990px;
}

.logoutLink:hover {
    background-color: rgb(161, 101, 201);
}

body{
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

img{
    width:40px;
    height: 40px;
    margin-right: 10px;
}

.profile-icon{
    position: absolute;
    right: 10px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left:-130px;
    width:150px;
    background-color: rgb(112, 39, 160);
    border-radius: 4px;
    padding: 8px;
    z-index: 1;
  }
  
  .dropdown-menu li {
    list-style: none;
    padding: 4px 8px;
  }
  
  .dropdown-menu li + li {
    margin-top: 8px;
  }
  
  .dropdown-menu li a {
    color: aliceblue;
    text-decoration: none;
  }
  
  .dropdown-menu li:hover {
    background-color: rgb(161, 101, 201);
  }
  
  