.classCard{
    display: flex;
    border: 3px solid rgb(195, 43, 173);
    border-radius: 5%;
    width: 30%;
    height:300px;
    margin-bottom: 30px;
    margin-left: 35%;
    justify-content: center;
}

.instructorClassPhoto{
    width:160px;
    height: 200px;
    border: 2px solid rgb(195, 43, 173);
    border-radius: 5%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.classButton{
    width:90px;
    border-radius: 7%;
    color: aliceblue;
    background-color: rgb(195, 43, 173);
    border-color:  rgb(195, 43, 173);
}

.classButton:hover{
    background-color: rgb(247, 10, 211);
    border-color:  rgb(247, 10, 211);
}

.classCardFirst{
    margin-top: 20px;
    margin-right: 40px;
}