.equipmentCard1{
    display: flex;
    border: 3px solid rgb(195, 43, 173);
    border-radius: 5%;
    width: 30%;
    height: 250px;
    margin-bottom: 30px;
    margin-left: 35%;
    justify-content: center;
}

.equipmentPhoto1{
    width:160px;
    height: 200px;
    border: 2px solid rgb(195, 43, 173);
    border-radius: 5%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.equipmentCard2{
    display: flex;
    border: 3px solid rgb(29, 185, 195);
    border-radius: 5%;
    width: 30%;
    height:250px;
    margin-bottom: 30px;
    margin-left: 35%;
    justify-content: center;
}

.equipmentPhoto2{
    width:160px;
    height: 200px;
    border: 2px solid rgb(29, 185, 195);
    border-radius: 5%;
    margin-top: 20px;
    /* margin-left: 20px; */
    margin-right: 20px;
}

.equipmentInput{
    width:70px;
    height: 15px;
}

.equipmentButton{
    margin-top: 75px;
    width:100px;
    border-radius: 7%;
    color: aliceblue;
    background-color: rgb(195, 43, 173);
    border-color:  rgb(195, 43, 173);
}

.equipmentButton:hover{
    background-color: rgb(247, 10, 211);
    border-color:  rgb(247, 10, 211);
}