.loginContainer{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.messageFroRegister{
    margin-left: 100px;
}

.passwordInput{
    width:200px;
    height: 25px;
    border-radius: 7%;
    margin-top: 5px;
    border: 1px solid;
}

.emailInput{
    width:200px;
    height: 25px;
    border-radius: 7%;
    margin-top: 5px;
    border: 1px solid;
}

.containerEmail{
    margin-bottom: 10px;
}

.containerPassword{
    margin-bottom: 30px;
}

.loginButton{
    width:200px;
    height: 30px;
    border-radius: 7%;
    color: aliceblue;
    background-color: rgb(112, 39, 160);
    border-color:  rgb(112, 39, 160);
}

.loginButton:hover {
    background-color: rgb(161, 101, 201);
    border-color: rgb(161, 101, 201);
}

.messageForRegister{
    margin-left: 100px;
    font-size: 23px;
    align-items: center;
}

.fun{
    font-size: 37px;
    font-weight: bold;
    color: rgb(112, 39, 160);
}

.labelLoginE{
    margin-right: 170px
}

.labelLoginP{
    margin-right: 150px
}